@keyframes blink {
  70% {
    color: white;
  }
}

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: orange;
  }
}

@keyframes blink-critical {
  50% {
    color: white;
  }

  to {
    color: red;
  }
}

window.eDP-1 * {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;

  font-family: Cozette, TerminessTTF Nerd Font Mono, monospace, sans-serif;
  font-size: 11px;
}

window#waybar {
  background: #000000;
  color: #7f7f7f;
  border-radius: 0;
}

window .modules-center #workspaces {
  min-height: 0;
  margin: 0;
  padding: 0;
}

#workspaces button {
  color: #7f7f7f;
  min-height: 0;
  min-width: 10px;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

#workspaces button.focused {
  color: #ffffff;
}

#mode,
#clock,
#network,
#cpu,
#tray,
#memory,
#backlight,
#keyboard,
#pulseaudio,
#custom-dnf,
#custom-weather,
#custom-keyboard-layout,
#custom-pacman,
#custom-scratchpad-indicator,
#custom-media,
#custom-power,
#custom-bluetooth,
#custom-uptime,
#battery {
  padding: 0 5px;
  margin: 0 1px;
}

#mode {
  /* background: #222222; */
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0 5px;
  margin: 0 1px;
  color: red;
}

#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  animation-name: blink-critical;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
