* {
  font-family: cozette, terminus, monospace;
  background-color: transparent;
}

#window {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#input {
  margin: 0;
  border: none;
  box-shadow: none;
}

#inner-box {
  margin: 0;
  padding: 0;
  border: none;
}

#outer-box {
  margin: 0;
  padding-top: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 3px;
  font-size: 15px;
  border: none;
  color: #f8f8f2;
}

#entry {
  border: none;
  padding-left: 6px;
  outline: none;
}

#entry:selected {
  border: none;
}

#entry:selected #text {
  color: #5f88b0;
}

#scroll {
}

/* Hide backspace icon */
.right {
  color: transparent;
}
